<section class="accent-padding background-green page-header">
  <h1 class="tac text-white">Review Dashboard</h1>
</section>
<section class="main">
  <% if @pending_reviews.count > 0 %>
    <h2 class="tac text-green">Pending Reviews</h2>
    <p class="subscript decision-feedback tac"></p>
     <% @pending_reviews.each do | review | %>

    <div class="flex-container-no accent-padding" id="pending-reviews">
      <div id="decision-wrapper">
        <%= form_for(review, remote: true, :html => {:class => "ib"}) do |fa| %>
            <%= fa.hidden_field :status, :value => "approved" %>
            <%= fa.submit "✓", class: "text-green decision approval ib" %>
          <% end %>
          <%= form_for(review, remote: true, :html => {:class => "ib"}) do |fa| %>
            <%= fa.hidden_field :status, :value => "hidden" %>
            <%= fa.submit "x", class: "decision denial ib" %>
          <% end %>
          <%= form_for(review, remote: true) do |fa| %>
            <%= fa.hidden_field :staff_favorite, :value => true %>
            <%= fa.hidden_field :status, :value => "approved" %>
            <%= fa.submit "favorite?", class: "ib decision favorited display-fav" %> |             <%= link_to 'edit', edit_review_path(review), class: "subscript edit-review" %>

          <% end %>
      </div>
      <div class="half">
        <h3 class="nmb"><%= review.author_first %> 
          <% if review.author_last %>
            <span class="ttu"><%= review.author_last.first(1) %>.</span> 
          <% end %>
          <br class="mo"><span class="text-green star-wrapper">
          <% review.rating.times do%>
            ★
          <% end %>
          </span></h3>
        <p><%= review.text %></p>
      </div>
      <div class="half tar do">
        <h3 class="text-green ttl nmb"><%= review.product.title %></h3>
        <p class="subscript nmt"><%= review.created_at.strftime('%m/%d/%Y') %></p>
      </div>
    </div>
    <% end %>
  <% else %>
  <div class="tac">
    <h2 class="ib text-green vam">No Pending Reviews</h2>
    </div>
  <% end %>
</section>

<% if @favorited_reviews.count > 0 %>
<section class="main background-beige">
  <h2 class="tac">Staff Favorites</h2>
  <% @favorited_reviews.each do | review | %> 
    <div class="flex-container">
      <div class="half">
        <h3 class="nmb"><%= review.author_first %>
         <% if review.author_last %>
            <span class="ttu"><%= review.author_last.first(1) %>.</span> 
          <% end %>
        <span class="text-green star-wrapper">
          <% review.rating.times do%>
            ★
          <% end %>
        </span>
        </h3>
         <div class="mo">
          <h3 class="text-green ttl nmb"><%= review.product.title %></h3>
          <p class="subscript nmt"><%= review.created_at.strftime('%m/%d/%Y') %></p>
        </div>
        <p class="nmb"><%= review.text %></p>
          <%= form_for(review, remote: true) do |fa| %>
          <%= fa.hidden_field :staff_favorite, :value => false %>
          <%= fa.submit "unfavorite?", class: "subscript ib decision favorited display-fav nmb" %>
          <% end %>
      </div>
      <div class="half tar" id="staff-favorite-details">
            <h3 class="text-green ttl nmb do"><%= review.product.title %></h3>
        <p class="subscript nmt do"><%= review.created_at.strftime('%m/%d/%Y') %></p>
        <%= form_for(review, remote: true) do |fa| %>
        <%= fa.hidden_field :vote, :value => review.vote + 1 %>
        <%= fa.submit "useful? ♡", class: "useful nmb" %><p class="ib subscript upvote nmb"><%= review.vote %></p>
      <% end %>
      </div>
    </div>
    <% end %>
  </section>
<% end %> 

<section class="main">
  <h2 class="tac">Latest Reviews</h2>
  <% @reviews.each do | review | %> 
    <% if review.status != "pending" && review.staff_favorite != true %>
      <div class="flex-container lazy">
        <div class="half">
          <h3 class="nmb"><%= review.author_first %> 
            <% if review.author_last %>
              <span class="ttu"><%= review.author_last.first(1) %>.</span> 
            <% end %>
            <span class="text-green star-wrapper">
            <% review.rating.times do%>
              ★
            <% end %>
            </span>
          </h3>
          <div class="mo">
            <h3 class="text-green ttl nmb"><%= review.product.title %></h3>
            <p class="subscript nm"><%= review.created_at.strftime('%m/%d/%Y') %></p>
            <p class="subscript nmt"><span><%= review.status %></span></p>
          </div>
          <p class="nmb"><%= review.text %></p>
          <%= form_for(review, remote: true) do |fa| %>
            <%= fa.hidden_field :staff_favorite, :value => true %>
            <%= fa.submit "favorite?", class: "subscript ib decision favorited display-fav" %> | 
            <%= link_to 'edit', edit_review_path(review), class: "subscript edit-review" %>
          <% end %>
        </div>
        <div class="half tar" id="all-reviews">
          <h3 class="text-green ttl nmb do"><%= review.product.title %></h3>
          <p class="subscript nmt do"><%= review.created_at.strftime('%m/%d/%Y') %></p>
          <%= form_for(review, remote: true) do |fa| %>
            <%= fa.hidden_field :vote, :value => review.vote + 1 %>
            <%= fa.submit "useful? ♡", class: "useful nmb" %>
            <p class="ib subscript upvote nmb"><%= review.vote %></p>
          <% end %> 
          <p class="subscript nmt do status"><span><%= review.status %></span></p>
          <% if review.status == "hidden" %>
            <%= form_for(review, remote: true, :html => {:class => "ib change prev-den do"}) do |fa| %>
              <%= fa.hidden_field :status, :value => "approved" %>
              <%= fa.submit "✓", class: "text-green decision-change ib" %>
            <% end %>
          <% else %>
            <%= form_for(review, remote: true, :html => {:class => "ib change do"}) do |fa| %>
              <%= fa.hidden_field :status, :value => "hidden" %>
              <%= fa.submit "x", class: "decision-change ib" %>
            <% end %>
          <% end %>
        </div>
      </div>
    <% end %>
   <% end %>
   <%= will_paginate @reviews %>
  </section>

<script>
  $('.decision').click(function () {
    $(this).parent().parent().parent().hide();
    $('.decision-feedback').hide(); 
    if ($(this).hasClass('approval')) {
      $('.decision-feedback').removeClass('text-red').addClass('text-green').text('approved').show();
    }
    else if ($(this).hasClass('denial')) {
      $('.decision-feedback').removeClass('text-green').addClass('text-red').text('hidden').show();
    }
    else if ($(this).hasClass('favorited')) {
      $('.decision-feedback').removeClass('text-red').addClass('text-green').text('approved & favorited').show();
    }
  })
  $('.change').submit(function() {
    if ($(this).hasClass("prev-den")) {
    var c =  confirm("This will make the review public, are you sure you want to continue?"); 
    }
    else {
      var c = confirm("This will hide the review, are you sure you want to continue?"); 
    }
    var status = $(this).prev('.status').children()
    console.log(status);
    $(status).text($(status).text() == "hidden" ? "approved" : "hidden"); 
    $(this).hide(); 
    return c; 
  }); 
  $('.useful').click(function() {
    $(this).attr("value", "♥"); 
    votes = parseInt($(this).next('.upvote').text()) + 1  
    $(this).next('.upvote').text(votes)
  })
</script>
